<div class="todo_app row">
  <div class="span14">
    
    <div class="add_todo">
      <form id="add_todo">
        <input id="todo" type="text" class="xlarge todo_input" />
      </form>
    </div>
    
    <div class="row">
      <h3>Next</h3>
      <div class="todos span15">
        <div class="todo_item">
          <p>
            <input type="checkbox" id="todo_1" name="todo_1" />
            <span>Todo One</span>
          </p>
        </div>
        <div class="todo_item">
          <p>
            <input type="checkbox" id="todo_2" name="todo_2" />
            <span>Todo Two</span>
          </p>
        </div>
      </div>
    </div>

    <div class="row completed">
      <h3>Completed</h3>
      <div class="completed_todos span15">
        <div class="todo_item">
          <p>
            <input type="checkbox" id="todo_3" name="todo_3" checked />
            <span>Todo Three</span>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
